.single-job .card-text {
    font-size: 14px;
    line-height: 1.7;
}

.my-job-info {
    margin-right: 10px;
}


@media (max-width: 767px) {
    .single-job {
        text-align: center;
    }

    .my-job-info {
        margin-bottom: 30px;
    }

    .my-job-info {
        width: 100%;
    }

}